@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Great+Vibes&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow-x:hidden;
  background:black;
}

/* HERO */

.hero{
  position:relative;

  inset:0;

  width:100%;
  height:100vh;

  overflow:hidden;

  background:black;

  z-index:1;
}

/* SKY */

.sky-bg{
  position:absolute;
  inset:0;
}

.sky-bg img{
  width:100%;
  height:100%;

  object-fit:cover;

  transform:scale(1.05);
}

/* OVERLAY */

.hero-overlay{
  position:absolute;
  inset:0;

  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,.05),
      rgba(0,0,0,.20)
    );

  z-index:1;
}

/* TEMPLE */

.temple-wrapper{

  position:absolute;

  bottom:-180px;

  left:0;

  width:100%;

  display:flex;

  justify-content:center;

  align-items:flex-end;

  z-index:2;

  pointer-events:none;
}
.temple-img{

  width:520px;

  object-fit:contain;

  filter:
    drop-shadow(
      0 0 35px rgba(255,180,120,.20)
    );
}

/* CONTENT */

.top-content{

  position:absolute;

  top:40px;

  left:50%;

  transform:translateX(-50%);

  text-align:center;

  z-index:5;

  width:100%;
}

/* SAVE TEXT */

.save-text{

  font-size:100px;

  font-family:'Great Vibes', cursive;

  color:#d86a61;

  line-height:.9;
}

/* NAMES */

.top-content h1{

  font-size:72px;

  color:#ffe0b2;

  font-family:'Cormorant Garamond', serif;

  font-weight:600;

  margin-top:10px;

  letter-spacing:2px;

  text-shadow:
    0 0 20px rgba(255,220,180,.15);
}

.top-content h1 span{

  margin:0 15px;

  color:#f6a98b;

  font-family:'Great Vibes', cursive;
}

/* DATE */

.top-content h3{

  margin-top:10px;

  color:white;

  letter-spacing:4px;

  font-size:18px;

  font-weight:300;
}

/* DATE BOX */

.date-box{

  position:absolute;

  bottom:50px;

  left:50%;

  transform:translateX(-50%);

  z-index:6;

  width:390px;

  padding:26px;

  border-radius:30px;

  text-align:center;

  background:
    rgba(0,0,0,.22);

  backdrop-filter:blur(12px);

  border:
    1px solid rgba(255,255,255,.08);
}

.date-box p{

  color:#f7d7a2;

  letter-spacing:3px;

  font-size:11px;
}

.date-box h2{

  color:white;

  margin:10px 0;

  font-size:50px;

  font-family:'Cormorant Garamond', serif;
}

.date-box span{

  color:#eee;

  font-size:14px;
}

/* FLOWERS */

.flower-left{

  position:absolute;

  left:40px;
  bottom:40px;

  font-size:65px;

  color:#ffc7d5;

  z-index:5;

  opacity:.7;

  animation:
    flowerFloat 5s ease-in-out infinite;
}

.flower-right{

  position:absolute;

  right:40px;
  bottom:40px;

  font-size:65px;

  color:#ffc7d5;

  z-index:5;

  opacity:.7;

  animation:
    flowerFloat 6s ease-in-out infinite;
}

/* PARTICLES */

.particles{

  position:absolute;

  inset:0;

  background-image:
    radial-gradient(
      rgba(255,255,255,.4) 1px,
      transparent 1px
    );

  background-size:120px 120px;

  opacity:.08;

  animation:
    particlesMove 30s linear infinite;

  z-index:2;
}
/* NAME WRAP */

.couple-name-wrap{

  display:flex;

  justify-content:center;
  align-items:center;

  gap:20px;

  margin-top:10px;

  flex-wrap:wrap;
}

/* LEFT RIGHT NAMES */

.name-left,
.name-right{

  font-size:78px;

  color:#ffe0b2;

  font-family:'Cormorant Garamond', serif;

  font-weight:600;

  text-shadow:
    0 0 20px rgba(255,220,180,.18);
}

/* CENTER */

.middle-heart{

  font-size:85px;

  color:#f6a98b;

  font-family:'Great Vibes', cursive;

  margin-top:-10px;
}

/* DATE */

.hero-date{

  margin-top:12px;

  color:white;

  font-size:18px;

  font-weight:300;
}

/* SAVE TEXT */

.save-text{

  font-size:110px;

  font-family:'Great Vibes', cursive;

  color:#ff7e73;

  line-height:.9;

  text-shadow:
    0 0 30px rgba(255,120,120,.15);
}
/* ANIMATION */

@keyframes particlesMove{

  from{
    transform:translateY(0);
  }

  to{
    transform:translateY(-300px);
  }
}

@keyframes flowerFloat{

  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-10px);
  }

  100%{
    transform:translateY(0);
  }
}

/* MOBILE */

@media(max-width:900px){

  .top-content{

    top:50px;
  }

  .save-text{

    font-size:70px;
  }

  .top-content h1{

    font-size:46px;
  }

  .top-content h3{

    font-size:14px;
  }

  .temple-img{

    width:340px;
  }

  .temple-wrapper{

    bottom:-100px;
  }

  .date-box{

    width:90%;
    bottom: 345px;
    left: 6%;
    padding:20px;
  }

  .date-box h2{

    font-size:34px;
  }

  .flower-left,
  .flower-right{

    font-size:45px;
  }
  .couple-name-wrap{
  gap:10px;
}

.name-left,
.name-right{
  font-size:48px;
}

.middle-heart{
  font-size:52px;
}

.save-text{
  font-size:72px;
}
}